# POSTGRES DOCKER
DB_USER=
DB_NAME=
DB_PASSWORD=

#PRISMA
DATABASE_URL="postgresql://postgres:123456@localhost:5433/teslo-shop"


AUTH_SECRET="l5KX5gOkH1FEXfjgjJU6QDHPql1P7N4Bh51UrKtodk4=" # Added by `npx auth`. Read more: https://cli.authjs.dev

GITHUB_ID=""
GITHUB_SECRET=""