# POSTGRES DOCKER
DB_USER="postgres"
DB_NAME="teslo-shop"
DB_PASSWORD="1234"

# PRISMA
DATABASE_URL="postgresql://postgres:1234@localhost:5433/teslo-shop"


AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

GITHUB_ID=""
GITHUB_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# PAYPAL https://developer.paypal.com/dashboard/applications/sandbox
# sb-lgf2q51636632@personal.example.com (CORREO DEL COMPRADOR)
# gM'b!8Y. (CONTRASEÑA DEL COMPRADOR)
NEXT_PUBLIC_PAYPAL_CLIENT_ID="AfCqrJQbNP4ri54i9HjKpJQ8ydDMk-NWfirJmMRNNnDxSrkjaJeBDmBnh0s61rz_Taq2fTTusUpAlBR3"
PAYPAL_SECRET=""
PAYPAL_OAUTH_URL="https://api-m.sandbox.paypal.com/v1/oauth2/token" # POST
PAYPAL_ORDERS_URL="https://api.sandbox.paypal.com/v2/checkout/orders" #GET

# CLOUDINARY https://console.cloudinary.com/
CLOUDINARY_URL=""